body{
    background-color: rgb(218, 110, 155);
}

.emp button{
    background-color: blue;
    color: white;
    border-radius: 5px;
    block-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.emp img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/* flex container */
.profiles{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    gap: 40px;
}

/* children of flex container */
.profiles .emp{
    width: 200px;
    box-shadow: 1px 1px 20px grey;
    text-align: center;
    background-color: rgb(233, 226, 164);
    border-radius: 10px;
    padding: 20px;
    
    
}

/* footer */
.one{
    display: flex;
    justify-content: space-around;
    color: whitesmoke;
     background-color: rgb(145, 21, 145); 
     padding-top: 19px; 
     font-family: Arial, Helvetica, sans-serif;
     margin-top: 160px; 
}

footer ul{
    list-style-type: none;
}
